@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

$primary-font: "Lato", sans-serif;
$secondary-font: "Poppins", sans-serif;

$primary-black: #272a31;
$secondary-black: rgba(255, 255, 255, 0.1);
$primary-white: #fff;
$secondary-white: #ededed;
$primary-blue: rgb(47, 77, 141);
$primary-red: #ec5242;
$secondary-red: #ff2e2e;
$primary-gourge: #c9c2c1;
$linear-gradient-one: linear-gradient(to right, #232526, #414345);
