@media only screen and (min-width: 768px) {
  .bars-menu {
    display: none;
  }

  .main-section {
    background: url(/img/bgdash.png), $primary-black;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-section h3 {
    text-align: center;
    padding: 8% 8% 3% 8%;
    color: $primary-white;
    font-family: $primary-font;
    font-weight: 900;
  }

  .line {
    text-align: center;
    width: 10%;
    margin: auto;
    background-color: $primary-red;
    height: 3px;
    border: none;
    margin-bottom: 30px;
  }

  .main-cards {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 5%;
  }

  .program-card {
    display: flex;
    flex-direction: column;
    background-color: $secondary-black;
    height: 100%;
    padding: 5%;
    gap: 12px;
  }

  .program-card img {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
  }

  .program-card h5 {
    color: $primary-red;
    font-family: $primary-font;
    height: auto;
    width: 100%;
    text-align: center;
  }

  .program-card p {
    color: $primary-white;
    font-family: $primary-font;
    flex: 3;
    height: auto;
    width: auto;
    font-weight: 500;
    text-align: center;
  }

  .main-section button {
    display: none;
  }

  //   Featured speakers
  .speakers-section {
    padding: 4%;
    margin: 1% 3%;
  }

  .speakers-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    gap: 12px;
  }
  .speakers-section h3 {
    text-align: center;
    padding: 8% 8% 3% 8%;
    margin: auto;
    color: $primary-black;
    font-family: $primary-font;
    font-weight: 900;
    width: max-content;
  }

  .speaker-image {
    position: relative;
    margin: auto;
    max-width: 110px;
    min-height: 110px;
    height: auto;
    width: 100%;
  }

  .speaker-bihind {
    position: absolute;
    max-width: 45px;
    max-height: 45px;
    width: 100%;
  }

  .speaker-orgin {
    position: absolute;
    max-width: 100px;
    width: 100%;
    z-index: 1;
    max-height: 100px;
    right: 0;
    bottom: 0;
    object-fit: contain;
  }

  .speaker-card {
    display: flex;
    gap: 10px;
    padding: 4% 0 4% 4%;
  }

  .speaker-description {
    display: flex;
    flex-direction: column;
    color: $primary-black;
    font-family: $primary-font;
    height: auto;
    width: auto;
    font-weight: 900;
  }

  .speaker-description h5 {
    color: $primary-black;
    font-family: $primary-font;
    height: auto;
    font-weight: 900;
  }

  .speaker-description h6 {
    color: $primary-red;
    font-family: $primary-font;
    height: auto;
    font-weight: 900;
  }

  .speaker-description p {
    font-size: 15px;
    font-family: $secondary-font;
    font-weight: 500;
    background: $linear-gradient-one;
    background-clip: text;
    color: transparent;
  }

  .small-line {
    text-align: center;
    margin: 10px 0;
    width: 8%;
    background-color: $primary-gourge;
    height: 3px;
    border: none;
  }
}
