* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-white;
  font-family: $primary-font;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $primary-white;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto 0 auto;
}

.btn {
  display: block;
  padding: 7px;
  border: 3px solid $primary-red;
  background: $primary-white;
  color: $primary-red;
  font-size: 15px;
  font-weight: 400;
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(0.95);
}

.atc-btn {
  padding: 6%;
  background-color: $primary-red;
  color: $primary-white;
  border-style: none;
  margin: 9%;
  transition: transform 0.2s ease-in-out;
}
