@import "config";
@import "utilities";

.upper-navbar {
  background-color: $primary-black;
  display: none;
  justify-content: flex-end;
  gap: 20px;
  padding: 1% 10% 1% 2%;
  font-weight: 700;

  @media (min-width: 768px) {
    display: flex;
  }
}
