@import "config";
@import "utilities";
@import "desktop";

.upper-navbar {
  background-color: $primary-black;
  display: none;
  justify-content: flex-end;
  gap: 20px;
  padding: 1% 10% 1% 2%;
  font-weight: 700;

  @media (min-width: 768px) {
    display: flex;
  }
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  position: relative;

  .logo {
    width: 15%;
    justify-self: flex-start;
    margin-left: 20px;

    img {
      width: 40%;
    }
  }

  .nav-bar {
    margin: 0 100px 0 50px;
    .nav-links {
      display: flex;
      gap: 30px;

      .link {
        color: $primary-blue;
        font-family: $primary-font;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.headline {
  background: url(/img/mainbg.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 767px) {
    background: url(/img/mobilebg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  a img:nth-child(2) {
    display: none;
  }

  .headline-links {
    display: none;
  }

  .pitch1 {
    color: $secondary-red;
    font-family: $secondary-font;
    font-size: 25px;
    font-weight: 300;
    margin: 10% 5% 0 10%;
  }

  .heading {
    background: url(/img/orange.jpeg);
    background-clip: text;
    color: transparent;
    font-family: $secondary-font;
    font-size: 50px;
    font-weight: 700;
    margin: 0 5% 5% 10%;
    width: 50%;
    line-height: 60px;

    @media only screen and (max-width: 767px) {
      width: 85%;
    }
  }

  .message {
    background-color: $secondary-white;
    font-family: $secondary-font;
    width: 60%;
    color: $primary-black;
    line-height: 20px;
    font-weight: 400;
    border: 4px solid $primary-white;
    margin: 0 5% 5% 10%;
    padding: 3%;
    @media (max-width: 768px) {
      width: 80%;
    }
  }

  .date {
    margin: 0 5% 2% 10%;
    font-size: 30px;
    color: $primary-black;
    font-family: $secondary-font;
  }

  .heading-2 {
    font-size: 15px;
    font-weight: 900;
    color: $primary-black;
    margin: 0 5% 5% 10%;
  }
}

// Media queries for mobile
@media only screen and (max-width: 767px) {
  .bars-menu {
    margin-top: 30px;
    padding-left: 10%;
    width: 3%;
  }

  .active {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: $secondary-white;
    z-index: 99;
  }

  .active a img:nth-child(1) {
    display: none;
  }

  .active a img:nth-child(2) {
    display: block;
  }

  .active .headline-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 25%;

    .link {
      color: $primary-blue;
      font-family: $primary-font;
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 10%;
    }
  }

  //   Main Program
  .main-section {
    background: url(/img/bgdash.png), $primary-black;
    display: flex;
    flex-direction: column;
  }

  .main-section h3 {
    text-align: center;
    padding: 8% 8% 3% 8%;
    color: $primary-white;
    font-family: $primary-font;
    font-weight: 900;
  }

  .line {
    text-align: center;
    width: 10%;
    margin: auto;
    background-color: $primary-red;
    height: 3px;
    border: none;
    margin-bottom: 5%;
  }

  .main-program {
    display: flex;
    flex-direction: column;
  }

  .program-card {
    display: flex;
    flex-direction: row;
    background-color: $secondary-black;
    padding: 4%;
    margin: 1% 3%;
    align-items: center;
    justify-content: center;
  }

  .program-card img {
    width: 50px;
    height: 50px;
  }

  .program-card h5 {
    color: $primary-red;
    font-family: $primary-font;
    height: auto;
    width: 30%;
    font-weight: 900;
    padding-left: 5%;
    padding-right: 5%;
  }

  .program-card p {
    color: $primary-white;
    font-family: $primary-font;
    flex: 3;
    height: auto;
    width: auto;
    font-weight: 400;
  }

  .main-section a {
    display: none;
  }
}
